.dt-paging{
    padding-top: 20px;
}

/* Menargetkan tombol pagination */
.dt-paging-button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 5px;
    background-color: #30be0d;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

/* Hover effect */
.dt-paging-button:hover {
    background-color: #0056b3;
}

/* Tombol saat aktif */
.dt-paging-button.current {
    background-color: #0056b3;
    font-weight: bold;
    cursor: default;
}

/* Tombol saat disabled */
.dt-paging-button.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

